<div class="container">

  <form #form="ngForm" (ngSubmit)="salvar(form)" autocomplete="off">

      <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{ editando ? 'Edição de usuário' : 'Novo usuário' }}</h1>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Nome</label>
          <input type="text" pInputText name="nome" ngModel #nome="ngModel" 
            required minlength="5" [(ngModel)]="usuario.nome">

          <app-message [control]="nome" error="required" text="Informe um nome"></app-message>
          <app-message [control]="nome" error="minlength" text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-8 ui-md-8 ui-sm-12 ui-fluid">
          <label>Email</label>
          <input type="text" [pattern]="emailPattern" pInputText name="email" required ngModel #email="ngModel"
            required [(ngModel)]="usuario.email">

          <app-message [control]="email" error="required" text=" Informe um email"></app-message>
        </div>

        <div class="ui-g-4  ui-sm-12 ui-fluid">
          <label>Senha</label>
          <input type="password" pPassword name="senha" [(ngModel)]="usuario.senha" required ngModel #senha="ngModel">

          <app-message [control]="senha" error="required" text=" Informe uma senha"></app-message>
        </div>

        <div class="ui-g-4  ui-sm-12 ui-fluid">
          <td *ngFor="let grup of grupos" class="align-center">
            <p-radioButton name="grup" [value]="grup" [label]="grup.nome" 
              (click)="setGrupo(grup)"></p-radioButton><br>
          </td>
        </div>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Salvar"
          [disabled]="form.invalid"></button>
        <button type="button" pButton label="Novo" class="ui-button-info" (click)="novo(form)"></button>
        <a routerLink="/pessoas" >Voltar para a pesquisa</a>
      </div>
  </form>

</div>
